:root {
    --header-color: rgba(34, 53, 78, 0.9);
    --body-color: rgb(22, 42, 69);
    --sidebar-color: rgb(34, 53, 78);
    --btn-activeColor: rgb(66, 158, 255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainBody {
    background-color: var(--body-color);
    min-height: 100vh;
}


/*header and navigation bar*/
.header {
    background-color: var(--header-color);
    height: 60px;
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 999;
    padding: 0 5px;
    justify-content: space-between;
}

.logo {
    border: 1px solid black;
    width: 60px;
    height: 100%;
    background-color: white;
    display: flex;
    border-radius: 100%;
    padding: 10px;
}

.logo a img {
    height: 100%;
}

.nav_bar_btn {
    display: none;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.headerMenu {
    display: flex;
    width: 500px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}


.headerMenu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
}

.headerMenu a:hover {
    border-bottom: 3px solid rgb(139, 156, 255);
}

.nav_input {
    display: none;
}

.nav_input:checked~.nav_overlay {
    display: block;
}

.nav_input:checked~.nav_mobile {
    transform: translateX(0);
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.nav_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.3s;
}

.nav_mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: rgb(32, 61, 101);
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.7s;
}

.nav_mobile_close {
    font-size: 28px;
    margin: 15px 0 0 10px;
    cursor: pointer;
    color: white;
}

.nav_mobile_list {
    margin-top: 10px;
    margin-left: -41px;
    list-style: none;
}

.nav_mobile_link {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 0 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

.nav_mobile_link:hover {
    background-color: rgb(55, 81, 117);
}

@media (max-width: 1023px) {
    .nav_bar_btn {
        display: block;
    }

    .headerMenu {
        display: none;
    }

    .searchBox {
        display: none;
    }
}

.menu {
    display: flex;
    width: 100%;
    max-width: 80.6%;
    justify-content: space-between;
    margin-left: 55px;
}

/* timer */
.timer {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    font-size: 25px;
    margin: 0 65px;
    color: white;
    position: relative;
}

.timer:hover .minute {
    display: block;
}

.timer .minute {
    display: none;
    position: absolute;
    width: 150px;
    align-items: center;
    top: 50px;
    left: -40px;
}

.timer .minute label {
    font-size: 15px;
    margin-right: 3px;
}

.timer .minute input {
    width: 50px;
    border: none;
    outline: none;
    height: 25px;
    padding: 4px;
    border-radius: 5px;
}

.timer .start-timer {
    padding: 3px 7px;
}

/* search */
.searchBox {
    width: 320px;
    height: 30px;
    border-radius: 20px;
    margin-top: 13px;
    background-color: rgb(57, 74, 96, 0.9);
}

.searchBox input {
    width: 270px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    padding: 5px 0 7px 5px;
    color: white;
}

.searchBox button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
    padding: 7px 0 0 12px;
}

/* song */
.home-recommend {
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}

.home-recommend-title h1 {
    color: white;
    text-align: center;
}

.home-recommend-container h3 {
    color: white;
    padding: 15px 0 0 15px;
    border-bottom: 1px solid white;
    width: 150px;
    margin-left: 0;
    padding: 0;
}

.song-container,
.album-container,
.playlist-container,
.boxtest-container,
.tab-flex {
    display: flex;
    flex-flow: row wrap;
    padding: 10px 0 10px 15px;
}

.recommend-song {
    position: relative;
    height: 80px;
    width: 320px;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.recommend-song:hover {
    background-color: var(--hoverSong-color);
}

@media (min-width: 1300px) {
    .recommend-song {
        width: 300px;
    }

    .album-box:nth-child(6n),
    .playlist-box:nth-child(6n),
    .new-album:nth-child(6n) {
        margin: 0;
    }

    .album-box,
    .playlist-box {
        margin: 0 36px 10px 0;
    }

}

.recommend-cover {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    width: 50px;
}

.recommend-cover img {
    height: 80%;
}

.cover-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
}

.recommend-song:hover .cover-overlay {
    opacity: 1;
}

.recommend-song button {
    transform: scale(0.7);
    opacity: 0;
}

.cover-overlay button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.recommend-song:hover button {
    opacity: 1;
}

.recommend-name {
    width: 55%;
    margin-left: 10px;
}

.song-name {
    color: white;
    font-weight: bold;
}

.song-name:hover {
    color: rgb(66, 158, 255);
    cursor: pointer;
}

.author-name a {
    padding-top: 5px;
    color: gray;
    font-size: 14px;
    text-decoration: none;
}

.author-name:hover a {
    color: rgb(66, 158, 255);
    text-decoration: underline;
    cursor: pointer;
}

.active-heart {
    color: red;
}

.boxtestMenuBtn {
    width: 40px;
    height: 40px;
    padding-top: 2px;
    border-radius: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.boxtestMenuBtn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.add-playlist {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    background-color: rgb(34, 53, 78);
    padding: 10px;
    color: white;
    z-index: 999;
    display: none;
    width: 200px;
}

.add-playlist p {
    padding: 10px 5px 0 5px;
    margin: 20px 0 10px;
    font-weight: bold;
    font-size: 19px;
}

.add-playlist ul li {
    margin: 0 0 10px 15px;
    list-style: none;
    cursor: pointer;
}

.add-playlist ul li a {
    color: white;
    text-decoration: none;
}

.add-playlist ul li a:hover {
    text-decoration: underline;
}

/* user */
.user {
    align-content: center;
    min-width: 115px;
    position: relative;
}

.user ul {
    width: 140px;
    position: absolute;
    right: 0;
    top: 60px;
    display: none;
}

.user ul li {
    list-style: none;
    padding: 10px 7px;
    background-color: rgb(57, 74, 96, 0.9);
}

.user li a {
    text-decoration: none;
    color: white;
}

.user:hover ul {
    display: block;
}

.user div {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: -webkit-center;
}

.user div img {
    height: 80%;
    display: flex;
    border-radius: 50%;
}

.user .login {
    display: flex;
    align-items: center;
    text-align: center;
    float: right;
}

.user .login a {
    color: white;
    text-decoration: none;
    height: 35px;
    display: block;
    line-height: 35px;
    margin-left: 5px;
    padding: 0 20px;
    border-radius: 20px;
    background-color: rgb(57, 74, 96, 0.9);
}

.user a:hover {
    color: rgb(185, 185, 185);
}

/*web body*/
.title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding-top: 100px;
    width: 70%;
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 60px;
    width: 320px;
    height: 80vh;
    padding: 0 5px;
    background-color: var(--sidebar-color);
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    right: -320px;
    transition: right 0.3s ease-in-out;
}

.playing {
    background-color: var(--hoverSong-color);
}

.sidebar .btn-play i {
    pointer-events: none;
}

/* control player */
.player-control {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    z-index: 999;
    background-color: var(--sidebar-color);
    padding: 0 5px;
    bottom: -80px;
}

.player-control-ctn {
    width: 100%;
    display: flex;
    margin: auto;
}

.player-control-left,
.player-control-right {
    width: 30%;
    height: 80px;
}

.player-control-left .item {
    width: 100%;
    height: 100%;
    align-content: center;
}

.player-control-left .item .media {
    display: flex;
    align-items: center;
}

.player-control-left .song-img {
    width: 65px;
    height: 65px;
}

.player-control-left .song-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.player-control-left .media-content {
    padding-left: 6px;
    width: 220px;
    margin-top: 5px;
}

.song-name {
    font-weight: 600;
    margin-top: 5px;
}

.media-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: right;
}

.media-right div:last-child {
    margin: 0 20px 0 10px;
}

.player-control .btn-play {
    font-size: 18px;
    background-color: transparent;
    border: none;
}

/* control bar */
.player-control-bar {
    flex: 1;
    margin: 10px 0;
    padding: 0 10px;
}

.action-ctn {
    width: 100%;
}

.action-ctn .action {
    display: flex;
    width: 100%;
    justify-content: center;
}

.action .btn {
    margin: 0 20px;
    font-size: 17px;
    align-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
}

.action .btn-toggle-play {
    font-size: 25px;
}

main input,
.btn {
    cursor: pointer;
    color: gray;
}

.btn:hover,
.btnActive {
    color: var(--btn-activeColor);
}

.item-time {
    display: flex;
    margin-top: 5px;
    justify-content: center;
}

.item-time .duration-bar {
    width: 350px;
    padding: 0 15px;
}

.item-time .duration-bar input {
    width: 100%;
    height: 7px;
    outline: none;
}

/* player-control-right */
.player-control-right {
    align-content: center;
}

.player-control-right .container {
    display: flex;
    float: right;
    align-items: center;
}

.player-control-right .btn {
    padding: 0 10px;
}

.btn-list {
    background: none;
    outline: none;
    border: none;
    color: gray;
    padding: 3px;
    border-radius: 3px;
}

.list {
    background: rgb(54, 69, 85);
}

.btn-volume {
    display: flex;
    align-items: center;
}

.volume {
    height: 5px;
    width: 100px;
    margin-left: 3px;
    outline: none;
    border: none;
}


.player-control-right .btn-list {
    font-size: 21px;
}

/* full màn hình */
.fullscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999;
    animation: colorChange 60s infinite;
}

@keyframes colorChange {
    0% {
        background-color: #7dd4d4;
    }

    20% {
        background-color: #566ea6;
    }

    40% {
        background-color: #848484;
    }

    60% {
        background-color: #996699;
    }

    80% {
        background-color: #FF0066;
    }

    100% {
        background-color: #996633;
    }
}

.show {
    display: block;
}

.fullscreen .song-title {
    position: fixed;
    bottom: 250px;
    left: 100px;
    display: flex;
}

.song-title .image-song {
    width: 200px;
    height: 200px;
    justify-content: flex-end;
}

.image-song img {
    width: 200px !important;
    height: 100%;
    border-radius: 15px;
}

.song-title .title {
    align-content: end;
    padding-left: 15px;
}

.song-title .name-song {
    font-size: 27px;
    font-weight: 600;
    color: white;
}

.song-title .artists {
    color: gray;
    font-size: 17px;
}

.fullscreen .player-control-bar {
    position: fixed;
    bottom: 50px;
    width: 100%;
    align-items: center;
}

.show {
    display: flex;
}

/* footer */
footer {
    width: 100%;
    height: 30px;
    background-color: #454141;
    align-content: center;
    text-align: center;
    margin-bottom: 80px;
}

.ft-ctn {
    width: 100%;
    color: var(--color-text-secondary);
}

/* custom menu */
.custom-menu {
    display: none;
    position: absolute;
    background-color: rgb(32, 61, 101);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    color: white;
    width: 250px;
    border-radius: 10px;
}

.custom-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.custom-menu ul li {
    padding: 12px 12px;
    cursor: pointer;
    font-size: 15px;
}

.custom-menu ul li:hover {
    background-color: rgb(55, 81, 117);
}