# Bật Rewrite Engine
RewriteEngine On

# Điều kiện rewrite: Nếu không phải file hoặc thư mục thực tế
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Thực hiện rewrite các URL không có đuôi .php
RewriteRule ^(.*)$ $1.php [L,QSA]
