.main-content .title,
form label {
    color: rgb(48, 48, 48);
}

form {
    width: 95%;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 5px;
    margin-top: 15px;
}

form input:not([type="checkbox"]) {
    outline: none;
    width: 95%;
    height: 40px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px 0 25px 15px;
    font-size: 16px;
    /* color: rgb(89, 86, 86); */
    color: black;
}

form .isAdmin {
    display: flex;
    align-items: center;
}

form input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

form button {
    width: 150px;
    height: 38px;
    color: rgb(58, 56, 56);
    background-color: rgb(0, 191, 0);
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 17px;
}

/* table */
table {
    width: 95%;
    border-collapse: collapse;
    text-align: center;
    color: rgb(32, 30, 30);
    margin-top: 5px;
}

thead tr {
    height: 30px;
}

tbody tr td {
    height: 70px;
}

.action {
    width: 100px;
}

td a {
    color: green;
    font-weight: 600;
    text-decoration: none;
}

td a:last-child {
    color: red;
}

/* search */
.search {
    position: absolute;
    top: 110px;
    right: 47px;
    width: 250px;
}

.search .search-ctn {
    position: relative;
}

.search .search-ctn input {
    height: 30px;
    outline: none;
    border: 1px solid black;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
}

.search .search-ctn i {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: black;
}

form {
    margin-bottom: 10px;
}

form textarea {
    padding: 10px;
    margin: 10px 0 10px 15px;
    width: 95%;
    height: 90px;
    border-radius: 10px;
}

.info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.info div {
    width: 50% !important;
}

label {
    font-weight: 600;
}

.info div input {
    width: 90% !important;
}

.image img {
    width: 100%;
    object-fit: cover;
}

.isAdmin {
    margin-top: 20px;
}

.main-content {
    margin: 15px;
}